.App {
  text-align: center;
}

.addButton {
  width: 30rem;
}
table {
  border-collapse: collapse;
  width: 60%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
th{
  text-align: left;
  padding: 8px;
  background-color: rgb(61, 38, 131);
  color: white;
}
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color:  rgb(138, 148, 255);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border: 1px solid gray;
  margin-left: 35rem;
  margin-right: 35rem;
}

input {
  width: 20rem;
  height: 1rem;
}

.add {
  margin-top: 1rem;
  width: 4rem;
}
.age {
  width: 5rem;
}